<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopoly-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Hello [[prop2]]!</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolyApp extends Polymer.Element {
      static get is() { return 'demopoly-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopoly-app'
          },

        prop2:{
          type: Number,
          value: 999,
        }
      };
    }
  }
    window.customElements.define(DemopolyApp.is, DemopolyApp);
  </script>
</dom-module>
